In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',

'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [3]:
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

# 1.

In [4]:
df.FlightNumber=[i for i in range(int(df.FlightNumber[0]),int(df.FlightNumber[len(df)-1])+1,10)]

In [5]:
df.FlightNumber

0    10045
1    10055
2    10065
3    10075
4    10085
Name: FlightNumber, dtype: int64

# 2,3,4.

In [6]:
df['Travelling_From']=[df['From_To'].str.split('_')[i][0].lower().title() for i in range(len(df))]

In [7]:
df['Destination']=[df['From_To'].str.split('_')[i][1].lower().title() for i in range(len(df))]

In [8]:
df.drop('From_To',axis=1,inplace=True)

In [9]:
df.head()

   FlightNumber  RecentDelays              Airline Travelling_From Destination
0         10045      [23, 47]               KLM(!)          London       Paris
1         10055            []    <Air France> (12)          Madrid       Milan
2         10065  [24, 43, 87]  (British Airways. )          London   Stockholm
3         10075          [13]       12. Air France        Budapest       Paris
4         10085      [67, 32]          "Swiss Air"        Brussels      London

# 5.

In [10]:
largest_list_len=max([len(i) for i in df.RecentDelays.values]) #taking list with maxi len

In [11]:
for i in range(largest_list_len):
    df[f'delay_{i+1}']=df.RecentDelays.str[i].values

In [12]:
df.drop('RecentDelays',axis=1,inplace=True)

In [13]:
df.head()

,FlightNumber,Airline,Travelling_From,Destination,delay_1,delay_2,delay_3
0,10045,KLM(!),London,Paris,23.0,47.0,NaN
1,10055,<Air France> (12),Madrid,Milan,NaN,NaN,NaN
2,10065,(British Airways. ),London,Stockholm,24.0,43.0,87.0
3,10075,12. Air France,Budapest,Paris,13.0,NaN,NaN
4,10085,"""Swiss Air""",Brussels,London,67.0,32.0,NaN

# Extra work

In [14]:
def clean_text(x):
    import re
    x=re.sub('[^a-zA-Z]',' ',x)
    return x.strip()

In [15]:
df['Airline']=df['Airline'].apply(clean_text)

In [16]:
df.fillna(0,inplace=True)

In [17]:
df.head()

,FlightNumber,Airline,Travelling_From,Destination,delay_1,delay_2,delay_3
0,10045,KLM,London,Paris,23.0,47.0,0.0
1,10055,Air France,Madrid,Milan,0.0,0.0,0.0
2,10065,British Airways,London,Stockholm,24.0,43.0,87.0
3,10075,Air France,Budapest,Paris,13.0,0.0,0.0
4,10085,Swiss Air,Brussels,London,67.0,32.0,0.0